In [1]:
ingresos = 1000
gastos = 400

In [6]:
ingresos

1000

In [7]:
ingresos
gastos

400

In [8]:
print(ingresos)
print(gastos)

1000
400

In [10]:
margen = ingresos - gastos

In [11]:
margen

600

In [12]:
print(margen)

600

In [14]:
ingresos_text = "Los ingresos han sido altos"
ingresos_alt = 'Los ingresos han sido altos'
print(ingresos_text)
print(ingresos_alt)

Los ingresos han sido altos
Los ingresos han sido altos

In [15]:
ingresos_text = "Los 'ingresos' han sido altos"
ingresos_text

"Los 'ingresos' han sido altos"

In [17]:
ingresos_text = "Los "ingresos" han sido altos"

SyntaxError: invalid syntax (3969662993.py, line 1)

In [19]:
import keyword
print(keyword.kwlist)
# lista de palabras reservadas

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [20]:
ingresos = 1000
gastos = 100
beneficios = ingresos - gastos

In [21]:
print(ingresos)
print(gastos)
print("Los beneficios han sido de :")
print(beneficios)

1000
100
Los beneficios han sido de :
900

In [23]:
mes = "junio"
print("Los beneficios de %s han sido %s millones" %(mes, beneficios))

Los beneficios de junio han sido 900 millones

In [24]:
print("Los beneficios  de %s han sido %s millones"%(beneficios, mes))

Los beneficios  de 900 han sido junio millones

In [27]:
mes = "agosto"
print( "Los beneficios de", mes, "han sido", beneficios, "millones")

Los beneficios de agosto han sido 900 millones

In [29]:
ventas_junio_julio = ventas_junio + ventas_julio
ventas_junio = 100
ventas_julio = 150

NameError: name 'ventas_junio' is not defined

In [30]:
ventas_junio

NameError: name 'ventas_junio' is not defined

In [32]:
ventas_junio = 100
ventas_julio = 150
ventas_junio_julio = ventas_junio + ventas_julio
print("las ventas de junio a julio son", ventas_junio_julio)

las ventas de junio a julio son 250

In [33]:
altura = 1.80 ; peso = 75
print(altura, peso)

1.8 75

In [36]:
x,y,z = 12,23,45

In [37]:
print(x,y,z)

12 23 45

In [39]:
x = 12
y = 23
z = 45

In [40]:
print(x,y,z)

12 23 45

In [42]:
altura = 1.85
del altura # borrar variable
print(altura)

NameError: name 'altura' is not defined

In [43]:
numero = 22
type(numero)

int

In [45]:
numero_real = 22.0
print(type(numero_real))

<class 'float'>

In [48]:
numero_real_decimales = 22.4513
type(numero_real_decimales)

float

In [50]:
print("sumas y restas")
print(1 + 2)
print(1.0 +2)
print(1.0 -2)

sumas y restas
3
3.0
-1.0

In [51]:
print("multiplicaciones y divisiones")
print(2*2)
print(2.0*2)
print(2/2)

multiplicaciones y divisiones
4
4.0
1.0

In [52]:
print("resto y cociente")
print(10/3)
print(int(10/3))
print( 10 % 3)
print(10//3)

resto y cociente
3.3333333333333335
3
1
3

In [55]:
n = 23
print("¿Es", n, "par?")
resto = n % 2
print("El resto es ", resto)
if resto == 0:
    print("Es par")
else:
    print("Es impar")

¿Es 23 par?
El resto es  1
Es impar

In [58]:
print("primera línea\nsegunda línea\n\tercera línea tabulada")

primera línea
segunda línea
	ercera línea tabulada

In [60]:
mi_string = "primera línea\nsegunda línea\n\tercera línea, tabulada"
print(mi_string)

primera línea
segunda línea
	ercera línea, tabulada

In [64]:
nombre = "Antonia"
apellido = "Scott"

nombre_apellido = nombre + " " + apellido
print(nombre_apellido)

Antonia Scott

In [66]:
esto_es_una_prueba = "pues eso, que estamos jugando"
un_entero = 100
print(esto_es_una_prueba + un_entero)
#Esto da error porque no se puede concatenar un string con numeros

TypeError: can only concatenate str (not "int") to str

In [67]:
True

True

In [68]:
ya_se_de_python = False
print(type(ya_se_de_python))

<class 'bool'>

In [69]:
dinerito = 5
dinerito >= 15

False

In [70]:
dinerito = 15
cond_1 = dinerito >= 15
print(cond_1)
print(type(cond_1))

True
<class 'bool'>

In [71]:
print(type(1.0))

<class 'float'>

In [73]:
print(type(-74))

<class 'int'>

In [74]:
print(type("3.45"))

<class 'str'>

In [1]:
print(type(True))

<class 'bool'>

In [2]:
num_real = 24.69
print(type(num_real))

<class 'float'>

In [5]:
num_entero = int(num_real)
print(num_entero)
print(type(num_entero))

24
<class 'int'>

In [6]:
num_real = 24.686
num_redondeado = round(num_real, 2)
print(num_redondeado)

24.69

In [7]:
num_redondeado = 24.69
numero_convertido = round(num_redondeado, 0)
print(numero_convertido, type(numero_convertido))

25.0 <class 'float'>

In [9]:
print(int(numero_convertido))

25

In [12]:
numero_real = 24.69
num_entero = 12

real_str = str(numero_real)
entero_str = str(num_entero)

print(real_str, type(real_str))
print(entero_str, type(entero_str))

24.69 <class 'str'>
12 <class 'str'>

In [15]:
mi_cadena = "98"
mi_entero = int(mi_cadena)
print(type(mi_cadena))
print(mi_entero)
print(type(mi_entero))

<class 'str'>
98
<class 'int'>

In [16]:
mi_cadena_real = "98,33"
mi_real = float(mi_cadena_real)
print(mi_real)

ValueError: could not convert string to float: '98,33'

In [29]:
mi_cadena_real = "98.33"
mi_real = float(mi_cadena_real)
print(type(mi_cadena_real))
print(mi_real)
print(type(mi_real))

<class 'str'>
98.33
<class 'float'>

In [31]:
real_str = "68,34"
real = float(real_str)

ValueError: could not convert string to float: '68,34'

In [ ]:
#apilicamos la función replace para transformar un str a un float
#en principio te va a devolver un string
real_str.replace(",",".")

'68.34'

In [ ]:
#lo guardamos en una variable el str
nuevo_str = real_str.replace(",", ".")
print(nuevo_str, type(nuevo_str))

68.34 <class 'str'>

In [41]:
#convertimos el str en un float
real = float(nuevo_str)
print(real, type(real))

68.34 <class 'float'>

In [43]:
#sentencia input
primer_input = input("escribir algo")

In [46]:
print(primer_input, type(primer_input))

b <class 'str'>

In [48]:
nombre = input("Como te llamas")
print("Encantado de conocerte", nombre)

Encantado de conocerte Juan

In [21]:
booleano = bool(123)
print(booleano, type(booleano))

True <class 'bool'>

In [23]:
booleano = bool(0)
print(booleano, type(booleano))

False <class 'bool'>

In [25]:
booleano = bool("")
booleano_2 = bool("Esto es otro tipo de booleano")
print(booleano, type(booleano))
print(booleano_2, type(booleano_2))

False <class 'bool'>
True <class 'bool'>

In [28]:
bool_string =str(booleano)
bool_2_string = str(booleano_2)
print(bool_string, type(bool_string))
print(bool_2_string, type(bool_2_string))

False <class 'str'>
True <class 'str'>

In [54]:
#Zen de python (20 principios de python)

import this

# Operaciones Aritmética

In [ ]:
### Sumar: +
### Restar: -
### Multiplicar: *
### Dividir: /
### Elevar: **
### Cociente división: %

In [60]:
# Ejercicio
#Declarar y asignar una variable entera
entero = 6
#Declarar y asignar una variable real o float 
variable_f = 6.2
#Sumar las variables y mostrar el resultado
suma = entero + variable_f
print(suma)
#Mostrar de qué tipo es el resultado
print(type(suma))
#Multiplicar ambas variables y mostrar el resultado
mult = entero * variable_f
print(mult)
#Elevar una a la otra
elevar = entero ** variable_f
print(elevar)
#Dividir una por otra y mostrar el resto y el cociente
div = entero / variable_f
cociente = entero // variable_f
resto = entero % variable_f
print(div)
print(cociente)
print(resto)

12.2
<class 'float'>
37.2
66763.29344804682
0.9677419354838709
0.0
6.0

In [61]:
import math

In [63]:
print(math.sqrt(25))
print(math.cos(0))
print(math.fabs(-123.45)) #valor absoluto (abs)

5.0
1.0
123.45

In [67]:
#Funciones y métodos
string_ejemplo = "string en minusculas"
# Metodo para poner un string todo en mayúsculas
print(string_ejemplo.upper())

# Metodo para poner un string todo en minusculas
print("ESTO ES UN EJEMPLO DIFERENTE".lower())
string_ejemplo_2 = "ESTO ES UN EJEMPLO DIFERENTE"
print(string_ejemplo_2.lower())

STRING EN MINUSCULAS
esto es un ejemplo diferente
esto es un ejemplo diferente

In [70]:
# Metodo para reemplacer un  caracter o varios
print(string_ejemplo.replace("s", "c"))

ctring en minucculac

In [72]:
print(string_ejemplo.replace("minusculas", "minúsculas"))

string en minúsculas

In [74]:
print(string_ejemplo.replace("s", ""))

tring en minucula

In [78]:
#Convertir string en lista

print("Esto se va a convertir en una lista de string".split(" "))

['Esto', 'se', 'va', 'a', 'convertir', 'en', 'una', 'lista', 'de', 'string']

In [79]:
print("Esto se va a convertir en una lista de string".split("convertir"))

['Esto se va a ', ' en una lista de string']

In [80]:
#Metodo para conocer la posición dentro de un string
print(string_ejemplo.index("m"))

10

In [ ]:
#Agregar elementos a una lista
lista_11 = [3,4,5]
lista_11.append(6)
print(lista_11)

[3, 4, 5, 6]